<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.smart.pay"
    tools:ignore="ImpliedTouchscreenHardware,MissingLeanbackLauncher">

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="false"
        android:smallScreens="true" />


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />


    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android,com.aseem.versatileprogressbar" />

    <application
        android:name=".SmartPayApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBwN0ICSpkz71IhmmhHuo0RqUv37KUuoXQ" />

        <activity android:name=".activity.wallet.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.wallet.SignInActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activity.wallet.SignupAcitivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.AddMoneyToWallet"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.BookBusTicketActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.BusSearchResultActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.FlightSearchResultActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.HomeActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.HotelSearchActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.HotelSearchResultActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.MobileNumberRegistrationActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.MobileRechargeActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.MovieDetailView"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.MovieTicketsActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.MovieTicketSeatViewActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.MyOrdersActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.PaymentsActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.ProfileActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.RegisterCustomerDetailsActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.TrainSearchResultActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.TravelActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.mall.AllBrandsActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".activity.mall.AllChildCategoriesActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".activity.mall.BookAppointmentActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.mall.CartActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".activity.mall.CategoryDetailActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".activity.mall.CategoryListActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".activity.mall.HelplineActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".activity.mall.NewServiceListActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".activity.mall.NotificationActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".activity.mall.OrderTrackActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".activity.mall.ProductDetailActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".activity.mall.ProductReviewActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".activity.mall.ProductsActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".activity.mall.SearchActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".activity.mall.SellerDetailActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".activity.mall.SellersofServiceList"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".activity.mall.ServiceCategoriesActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".activity.mall.ThankYouActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".activity.mall.ThankYouAppointmentActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".activity.mall.ViewTopProductActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".activity.mall.YourOrderActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />


        <activity
            android:name=".activity.wallet.PayNowActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.PayUserActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.MyPassbook"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.PaymentSettings"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.ThankYouRechargeDone"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.TrainTicketDetailActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.AddTrainTicketInfo"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.wallet.MovieTicketDetailActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />


    </application>

</manifest>